

// Fonts
@mixin font-props($size: 1rem, $weight: 400) {
    font-family: var(--font-family, "Inter"), sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-size: $size;
}


// Breakpoints

/* Tablet and Smaller Desktop */
@mixin md {
    @media (min-width: 701px) and (max-width: 1120px) {
        @content;
    }
}

/* Mobile */
@mixin sm {
    @media (max-width: 700px) {
        @content;
    }
}

/* Mobile */
@mixin lg {
    @media (min-width: 1120px) {
        @content;
    }
}